extends layout

block content
  a(class="home-button" href="/api") Home
  br
  a(href="/api/admin/products" class="update-button") Products
  br
  br
  br
  a(href="/api/admin/users" class="update-button") Users
  h1 #{title}
  style.
    .update-button {
          background-color: #5a9aa5;
          border: none;
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
          text-decoration: none;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
          transition: background-color 0.3s ease;
        }

    .update-button:hover {
          background-color: #326b77;
        }
    .home-button {
      background-color: #000066;
      border: none;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      display: block;
      margin: 0 auto;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease;
    }

    .home-button:hover {
      background-color: #0000cc;
    }