extends layout

block content
    a(class="home-button" href="/api/admin/products") Back to Admin Index
    script.
        function previewImage(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
              document.getElementById('imagePreview').src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
          }
        }
        window.onload = function() {
         var titleInput = document.getElementsByName('title')[0];
         var descriptionInput = document.getElementsByName('description')[0];
         var priceInput = document.getElementsByName('price')[0];
         var updateButton = document.getElementById('updateButton');

         titleInput.addEventListener('input', checkInputs);
         descriptionInput.addEventListener('input', checkInputs);
         priceInput.addEventListener('input', checkInputs);

         function checkInputs() {
            if (titleInput.value !== '' && descriptionInput.value !== '' && priceInput.value !== '') {
            updateButton.disabled = false;
            } else {
            updateButton.disabled = true;
            }
         }
      };
    style.
     .home-button {
          background-color: #000066;
          border: none;
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
          text-decoration: none;
          text-align: center;
          display: block;
          margin: 0 auto;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
          transition: background-color 0.3s ease;
        }

     .home-button:hover {
          background-color: #0000cc;
        }
     form {
        margin-bottom: 20px;
        }
     label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        }
     input[type="text"],
     input[type="file"] {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        }
     input[type="submit"] {
        background-color: #337ab7;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        }
     input[type="submit"]:hover {
        background-color: #286090;
        }
    h1 Update Product
    form(method='POST', action='/api/admin/products/update/'+product._id, enctype="multipart/form-data")
      input(type='hidden', name='id', value=product._id)
      | title: 
      input(type='text', name='title', value=product.title)
      | description: 
      input(type='text', name='description', value=product.description)
      |          price: 
      input(type='text', name='price', value=product.price)
      |          image: 
      input(type='file', name='image', value='', onchange="previewImage(this);")
      img(id="imagePreview" src="data:image/jpg;base64," + product.image.toString('base64'))
      input(type='submit', id='updateButton', value='Update')